/* Style for note data */
.note-data {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: -5px;
}

.note-data h2 {
    margin-bottom: 5px;
}

.note-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: -10px;
}

.note-message {
    font-size: 14px;
    font-weight: normal;
    margin-top: -19px;
    margin-bottom: 15px;
}

.note-notenumber {
    font-size: 15px;
    font-weight: 300;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #bbb;
  }