.container {
    display: grid; 
    place-items: center;
    min-height: 100vh;
    padding: 265px;
}

.preload-logo {
    font-size: 55px;
    font-weight: bold;
    white-space: nowrap;
}

.preload-version {
    font-weight: 200;
    margin-top: -25px !important;
}

.preload-message {
    margin-top: 5px;
    font-weight: 500;
}

.loader {
    margin-top: 5px;
}